.card {
    top: 200px;
    width: 240px;
    height: 300px;
    background-color: cadetblue;
    position: relative;
    box-shadow: 0px 0px;
    transition: 0.3s;
    transform-style: preserve-3d;
    perspective: 300px;
}   

.card:hover {
    transform: translate(10px, -10px);
    box-shadow: -10px 10px 0px 5px;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
}